@model DataLayer.tb_LOAITHIETBI

@{
    ViewBag.Title = "Bạn có chắc muốn xóa?";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên loại thiết bị
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENLOAITHIETBI)
        </dd>



    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-success" /> |
            @Html.ActionLink("Trở lại", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>

